{% verbatim %} <!--necessary to prevent Django from trying to parse the handlebars template-->
<div class="post">
  <p class="posttitle">
    <a class="title" href="/{{id}}">{{title}}</a>
  </p>
  <p class="postdate">
    {{#if author}}
    <a href="/user/{{author}}/">{{author}}</a> - 
    {{/if}}
    {{#easydate}}{{date}}{{/easydate}} <!-- TODO |date:'Y-m-d' -->
    {{#if edited}}
    - edited {{#easydate}}{{last_updated}}{{/easydate}}
    {{/if}}
    {{#if parent}}
    - forked from <a href="/{{parent.id}}">{{parent.title}}</a>
    {{/if}}
  </p>
  <p class="posttags">
    {{#each tags as |tag|}}
    <a class="taglink{{#if tag.lang}} lang{{/if}}" href="/tag/{{tag.name}}">#{{tag.name}}</a>
    {{/each}}
  </p>
  <div style="height: 48px;">
    {{#if author_logged_in}}
    <a href='/edit/{{id}}'><div class="action_link green">edit</div></a>
    {{else}}
    {{#if edit_any}}
    <a href='/edit/{{id}}'><div class="action_link green">edit</div></a>
    {{/if}}
    {{/if}}
    <a href='/fork/{{id}}'><div class="action_link green">fork</div></a>
    <a href='/{{id}}/forks'><div class="action_link">view forks</div></a>
    {{#if author_logged_in }}
    <a href='/delete/{{id}}'><div class="action_link red">delete</div></a>
    {{else}}
    {{#if delete_any }}
    <a href='/delete/{{id}}'><div class="action_link red">delete</div></a>
    {{/if}}
    {{/if}}
    
  </div>

  {{#each body.cells as |cell i|}}
      <!-- {% if cell.title%}
        <div class="container-fluid">
          <h5 style="margin-top: 0; margin-bottom: 5px;">{{cell.title}}</h5>
        </div>
      {% endif %} -->

      {{#if cell.is_code}}
          <pre class="codecell"><div class="cellindex code">{{i}}{{#if cell.title}} - {{cell.title}}{{/if}}</div><code class="unhighlighted hljs {{cell.lang}}">{{cell.content}}</code></pre>
      {{else}}
      {{#if cell.is_markdown}}
        <div class="container-fluid cell text">
          <div class="cellindex">
              {{i}}{{#if cell.title}} - {{cell.title}}{{/if}}
          </div>
          <p>
              {{{cell.content}}}
          </p> <!--TODO:30 make sure input is safe-->
        </div>
      {{else}}
        <div class="container-fluid cell text">
          <div class="cellindex">
              {{i}}{{#if cell.title}} - {{cell.title}}{{/if}}
          </div>
          <p>
              {{cell.content}}
          </p> 
        </div>
      {{/if}}
      {{/if}}
  {{/each}}
</div>
<hr style='margin:15px -15px'>
{% endverbatim %}